body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

h1 {
    color: #007bff;
    text-align: center;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 300px;
    background-color: #ffffff;
}

form input[type="file"] {
    margin-bottom: 15px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    background-color: #ffffff;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}